div.header {
	width: 100%;
	height: 60px;
	background-color: #e2e2e2;
	margin-bottom: 30px;
}

div.header h2 {
	position: relative;
	top: 20px;
	left: 30px;
	color: #616161;
}

div.panel {
	margin: auto;
}

div.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #e2e2e2;
	text-align: center;
}

div.footer p {
	color: #8d8d8d;
	padding: 20px;
}

/*
.fieldValError {
	height: 10px;
	line-height: 10px;
	padding: 6px 8px;
	font-size: 12px;
	text-align: left;
	color: red;
	background: #fff3f3;
	border: 1px solid #ffa8a8;
	border-radius: 5px;
	text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

.fieldValError:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 4px;
	border-style: solid;
	border-color: transparent #ffa8a8 transparent transparent;
	top: 9px;
	left: -9px;
}
*/
.fieldValidationError {
	color: #F40A0A;
	font-weight: bold;
	margin-bottom: 0;
	font-size: 13px;
}

input.form-control-disabled {
	border: none;
	background: #fefefe;
	font-style: italic;
	transition: none;
	box-shadow: none;
}

input[type="text"].form-control-disabled:focus {
	border-color: none;
	box-shadow: none;
	outline: none;
}

/*----- session modal -----*/
div.modalDialog {
	width: 600px;
}

.modalDialog p {
	font-size: 16px;
	padding: 20px;
}


/*----- users modal -----*/
div.modalDialogWarning span.ui-dialog-title {
	color: #da4f49;
}

.modalDialogWarning p {
	font-size: 16px;
	padding: 20px;
	color: #da4f49;
}

span.ff-logo {
	background: url(../images/ff-logo.jpg) no-repeat;
	width: 197px;
	height: 75px;
	display: block;
}


/* ----- full calendar ------*/
#external-events {
	/*padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;*/
}

#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 5px 4px;
	background: #3a87ad;
	color: #fff;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5px;
}

#external-events p {
	margin: 1.5em 0 0 0;
	font-size: 13px;
	color: #666;
}

#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#calendar {
	width: 100%;
}

.list-group-item:first-child {
	border-top-right-radius: 6px;
  	border-top-left-radius: 6px;
}

.list-group-item:last-child {
	border-bottom-right-radius: 6px;
  	border-bottom-left-radius: 6px;
}

.list-group-item {
	background-color: #EADBD4;
	color: #505050 !important;
	border: 1px solid #ddcbc2;
}

a.list-group-item-success:hover {
	background: #c39c8a;
	color: #fff !important;
}

a.list-group-item-success:focus {
	background: #c39c8a;
}

a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
	background: #c39c8a;
	color: #fff !important;
	border: 1px solid #c39c8a;
}

.submenu > .list-group-item {
	padding-left: 40px;
	border-top-right-radius: 0;
  	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
  	border-bottom-left-radius: 0;
  	border-bottom: none;
}

.credit-amount {
	font-size: large;
	text-align: center;
}


/*  form wizard  */
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 11px solid #fff;
  border-left: 11px solid #fff;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
  outline: 0;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 5px 5px 0;
  outline: 0;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
  outline: 0;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}

.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #c39c8a;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #c39c8a #c39c8a #c39c8a transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #c39c8a;
  outline: 0;
}

.nav-wizard > li > a {
	padding: 5px 15px;
}

.pager li > a, .pager li > span {
    border-radius: 3px;
    padding: 6px 12px;
    color: #FFF;
	width: 85px;
}

.pager li.previous > a, .pager li.previous > span {
    border-radius: 3px;
    padding: 6px 12px;
    color: #000;
	width: 85px;
}

#rootwizard .container {
	padding-left: 0;
}

#tab1 .packages {
	text-align: center;
	padding: 30px 0;
}

#rootwizard .packages .btn {
	margin: 5px;
	width: 200px;
}

.currency-sign {
	float: left;
}

.profile-picture {
	border: 1px solid #c9c9c9;
	padding: 4px;
	width: 120px;
	height: 120px;
}

.profile-picture img {
	width: 110px;
	height: 110px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    width: 120px;
    margin: 10px 0;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.buy-credit-tbl {
	width: 100%;
}

.buy-credit-tbl-tr-body {
	height: 150px;
	vertical-align: bottom;
}

.shop-category {
	padding-bottom: 10px;
}

.shop-product img {
	border: solid 1px #eee;
}