div.header {
	width: 100%;
	height: 60px;
	background-color: #e2e2e2;
	margin-bottom: 30px;
}

div.header h2 {
	position: relative;
	top: 20px;
	left: 30px;
	color: #616161;
}

div.panel {
	margin: auto;
}

div.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #e2e2e2;
	text-align: center;
}

div.footer p {
	color: #8d8d8d;
	padding: 20px;
}

/*
.fieldValError {
	height: 10px;
	line-height: 10px;
	padding: 6px 8px;
	font-size: 12px;
	text-align: left;
	color: red;
	background: #fff3f3;
	border: 1px solid #ffa8a8;
	border-radius: 5px;
	text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

.fieldValError:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 4px;
	border-style: solid;
	border-color: transparent #ffa8a8 transparent transparent;
	top: 9px;
	left: -9px;
}
*/
.fieldValidationError {
	color: #F40A0A;
	font-weight: bold;
	margin-bottom: 0;
	font-size: 13px;
}

input.form-control-disabled {
	border: none;
	background: #fefefe;
	font-style: italic;
	transition: none;
	box-shadow: none;
}

input[type="text"].form-control-disabled:focus {
	border-color: none;
	box-shadow: none;
	outline: none;
}

/*----- session modal -----*/
div.modalDialog {
	width: 600px;
}

.modalDialog p {
	font-size: 16px;
	padding: 20px;
}


/*----- users modal -----*/
div.modalDialogWarning span.ui-dialog-title {
	color: #da4f49;
}

.modalDialogWarning p {
	font-size: 16px;
	padding: 20px;
	color: #da4f49;
}

span.ff-logo {
	background: url(../images/ff-logo.jpg) no-repeat;
	width: 197px;
	height: 75px;
	display: block;
}


/* ----- full calendar ------*/
#external-events {
	/*padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;*/
}

#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 5px 4px;
	background: #bcbcbc;
	color: #fff;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5px;
}

#external-events p {
	margin: 1.5em 0 0 0;
	font-size: 13px;
	color: #666;
}

#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#calendar {
	width: 100%;
}